<div class="logInRootContainer">
    <div class="usernameContainer">
        <div class="username">
            <label class="usernameLabel">Phone number,user name or email</label>
            <input type="text" class="inputarea">
        </div>
    </div>
    <div class="usernameContainer">
        <div class="username">
            <label class="usernameLabel">Password</label>
            <input type="text" class="inputarea">
        </div>
    </div>
    <div class="log-in">
        <button class="log-in-btn">
            <div class="log-in-btn-text">
                Log In
            </div>
        </button>
    </div>
    <div class="orLabel">
     <div class="line">
     </div>
     <div class="orText">
OR
     </div>
     <div class="line">
    </div>
    </div>
</div>